body {
    font-family: Helvetica, sans-serif;
    background-color: lavenderblush;
}

h1 {
    margin-top: 1em;
    margin-left: 120px;
}

form, p {
    margin: 0 0 0 120px;
}

p {
    font-style: italic;
}

label:not(:first-of-type) {
    margin-left: 0.2em;
}

input {
    margin-left: 0;
}

.axis {
    font-style: italic;
}

rect {
    fill: indigo;
    fill-opacity: 0.7;
}

rect:hover {
    fill-opacity: 1;
}

.tooltip {
    position: absolute;
    font-size: 0.8em;
    text-align: center;
    background-color: papayawhip;
    box-shadow: 1px 1px 1px 1px grey;
    border-radius: 5px;
    padding: 8px;
}