body {
    font-family: Helvetica, sans-serif;
}

form {
    margin: 0;
}

rect {
    fill: darkcyan;
    fill-opacity: 0.8;
}

rect:hover {
    fill-opacity: 1;
}

.tooltip {
    position: absolute;
    font-size: 0.8em;
    text-align: center;
    background-color: papayawhip;
    box-shadow: 1px 1px 1px 1px grey;
    border-radius: 5px;
    padding: 8px;
}